<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Rates</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>

    <div class="container">
        <table class="table">
            <thead>
                <% headers.forEach( header => { %>
                    <th><%= header %></th>
                <% }) %>
            </thead>
            <tbody>
                <% tableData['activities-heart'].forEach( dataSet => { %>
                        <% dataSet.value.heartRateZones.forEach( zone =>{ %>
                            <tr>
                                <td> <%= tableData.user.userID %></td>
                                <td> <%= dataSet.dateTime %></td>
                                <td> <%= zone.min %></td>
                                <td> <%= zone.max %></td>
                                <td> <%= zone.name %></td>
                            </tr>
                        <% }) %>
                    <% }) %>    
            </tbody>
        </table>
    </div>

</body>
</html>